/*Bouton rond pour texte petit*/
.btn-round-little
{	
	
	border: 0.1em solid lightgrey;
	border-radius:50em;
	 -webkit-border-radius: 50em;
     -moz-border-radius: 50em;
	-o-border-radius:50em;
	height:75px;
	
}
/*Bouton rond pour texte long*/
.btn-round-big
{
	border: 0.1em solid lightgrey;
	border-radius:80em;
	 -webkit-border-radius: 800em;
     -moz-border-radius: 800em;
	-o-border-radius:80em;
	height:105px;
}
/*Bouton ombré*/
.btn-shadow
{
	box-shadow: 0.5em 0.5em lightgrey;
}
/*Bouton en forme de bouton pour grand texte*/
.btn-btn-big
{
	background: radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background: -webkit-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background: -moz-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background:-o-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	border: 0.4em double grey;
	border-radius:80em;
	 -webkit-border-radius: 800em;
     -moz-border-radius: 800em;
	-o-border-radius:80em;
	height:105px;
	box-shadow: 0.2em 0.2em grey;
}
/*Bouton en forme de bouton pour petits textes*/
.btn-btn-little
{
	background: radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background: -webkit-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background: -moz-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	background:-o-radial-gradient( farthest-side ellipse at top center, white, lightblue);
	border: 0.4em double grey;
	border-radius:50em;
	 -webkit-border-radius: 50em;
     -moz-border-radius: 50em;
	-o-border-radius:50em;
	height:85px;
	box-shadow: 0.2em 0.2em grey;
	
}
/*Bouton qui semble inscrit dans le fond blanc*/
.btn-inside
{
	border-color: white;
	border-radius:0.5em;
	color:lightgray;
	background-color: white;
	box-shadow: inset -0.1em 0.1em  0.4em lightgray;
	text-shadow: 0em 0.1em 0.01em lightgray;
	height:75px;
	
	
}
