@import "../less/color.less";


section{
    margin-top: 50px;
    margin: 100px 50px 50px 65px;
}

button{
    height: 30px;
    width: 30px;
    margin: 50px 10px 50px 10px;
}

/******************************************************
********************* RED COLOR ***********************
*******************************************************/
#red{
    background-color: red;    
}

/********************** light *************************/
#red-light-1{
    background-color: @red-light-1;
}
#red-light-2{
    background-color: @red-light-2;
}
#red-light-3{
    background-color: @red-light-3;
}
#red-light-4{
    background-color: @red-light-4;
}
#red-light-5{
    background-color: @red-light-5;
}
#red-light-6{
    background-color: @red-light-6;
}
#red-light-7{
    background-color: @red-light-7;
}
#red-light-8{
    background-color: @red-light-8;
}
#red-light-9{
    background-color: @red-light-9;
}
#red-light-10{
    background-color: @red-light-10;
}


#red-dark-1{
    background-color: @red-dark-1;
}
#red-dark-2{
    background-color: @red-dark-2;
}
#red-dark-3{
    background-color: @red-dark-3;
}
#red-dark-4{
    background-color: @red-dark-4;
}
#red-dark-5{
    background-color: @red-dark-5;
}
#red-dark-6{
    background-color: @red-dark-6;
}
#red-dark-7{
    background-color: @red-dark-7;
}
#red-dark-8{
    background-color: @red-dark-8;
}
#red-dark-9{
    background-color: @red-dark-9;
}
#red-dark-10{
    background-color: @red-dark-10;
}