/* red color */
/* red lighten */
/* red darken */
/* green color */
/* green lighten */
/* green darken */
/* blue color */
/* blue lighten */
/* blue darken */
/* yellow color */
/* yellow lighten */
/* yellow darken */
/* purple color */
/* purple lighten */
/* purple darken */
/* orange color */
/* orange lighten */
/* orange darken */
/* cyan color */
/* cyan lighten */
/* cyan darken */
/* lightgreen color */
/* lightgreen lighten */
/* lightgreen darken */
/* grassgreen color */
/* grassgreen lighten */
/* grassgreen darken */
section {
  margin-top: 50px;
  margin: 100px 110px 50px 110px;
}
button {
  height: 40px;
  width: 40px;
  margin: 50px 10px 50px 0px;
}
/******************************************************
********************* green COLOR ***********************
*******************************************************/
#red {
  background-color: red;
}
/********************** light *************************/
#red-lt-1 {
  background-color: #ff1414;
}
#red-lt-2 {
  background-color: #ff2929;
}
#red-lt-3 {
  background-color: #ff3d3d;
}
#red-lt-4 {
  background-color: #ff5252;
}
#red-lt-5 {
  background-color: #ff6666;
}
#red-lt-6 {
  background-color: #ff7a7a;
}
#red-lt-7 {
  background-color: #ff8f8f;
}
#red-lt-8 {
  background-color: #ffa3a3;
}
#red-lt-9 {
  background-color: #ffb8b8;
}
#red-lt-10 {
  background-color: #ffcccc;
}
/********************** Dark *************************/
#red-dk-1 {
  background-color: #eb0000;
}
#red-dk-2 {
  background-color: #d60000;
}
#red-dk-3 {
  background-color: #c20000;
}
#red-dk-4 {
  background-color: #ad0000;
}
#red-dk-5 {
  background-color: #990000;
}
#red-dk-6 {
  background-color: #850000;
}
#red-dk-7 {
  background-color: #700000;
}
#red-dk-8 {
  background-color: #5c0000;
}
#red-dk-9 {
  background-color: #470000;
}
#red-dk-10 {
  background-color: #330000;
}
/******************************************************
********************* GREEN COLOR ***********************
*******************************************************/
#green {
  background-color: #00FF00;
}
/********************** Dark *************************/
#green-lt-1 {
  background-color: #14ff14;
}
#green-lt-2 {
  background-color: #29ff29;
}
#green-lt-3 {
  background-color: #3dff3d;
}
#green-lt-4 {
  background-color: #52ff52;
}
#green-lt-5 {
  background-color: #66ff66;
}
#green-lt-6 {
  background-color: #7aff7a;
}
#green-lt-7 {
  background-color: #8fff8f;
}
#green-lt-8 {
  background-color: #a3ffa3;
}
#green-lt-9 {
  background-color: #b8ffb8;
}
#green-lt-10 {
  background-color: #ccffcc;
}
#green-dk-1 {
  background-color: #00eb00;
}
#green-dk-2 {
  background-color: #00d600;
}
#green-dk-3 {
  background-color: #00c200;
}
#green-dk-4 {
  background-color: #00ad00;
}
#green-dk-5 {
  background-color: #009900;
}
#green-dk-6 {
  background-color: #008500;
}
#green-dk-7 {
  background-color: #007000;
}
#green-dk-8 {
  background-color: #005c00;
}
#green-dk-9 {
  background-color: #004700;
}
#green-dk-10 {
  background-color: #003300;
}
/******************************************************
********************* blue COLOR ***********************
*******************************************************/
#blue {
  background-color: #0000FF;
}
/********************** Dark *************************/
#blue-lt-1 {
  background-color: #1414ff;
}
#blue-lt-2 {
  background-color: #2929ff;
}
#blue-lt-3 {
  background-color: #3d3dff;
}
#blue-lt-4 {
  background-color: #5252ff;
}
#blue-lt-5 {
  background-color: #6666ff;
}
#blue-lt-6 {
  background-color: #7a7aff;
}
#blue-lt-7 {
  background-color: #8f8fff;
}
#blue-lt-8 {
  background-color: #a3a3ff;
}
#blue-lt-9 {
  background-color: #b8b8ff;
}
#blue-lt-10 {
  background-color: #ccccff;
}
/* blue darken*/
#blue-dk-1 {
  background-color: #0000eb;
}
#blue-dk-2 {
  background-color: #0000d6;
}
#blue-dk-3 {
  background-color: #0000c2;
}
#blue-dk-4 {
  background-color: #0000ad;
}
#blue-dk-5 {
  background-color: #000099;
}
#blue-dk-6 {
  background-color: #000085;
}
#blue-dk-7 {
  background-color: #000070;
}
#blue-dk-8 {
  background-color: #00005c;
}
#blue-dk-9 {
  background-color: #000047;
}
#blue-dk-10 {
  background-color: #000033;
}
/******************************************************
********************* yellow COLOR ***********************
*******************************************************/
#yellow {
  background-color: #FCFC00;
}
/********************** Dark *************************/
#yellow-lt-1 {
  background-color: #ffff11;
}
#yellow-lt-2 {
  background-color: #ffff26;
}
#yellow-lt-3 {
  background-color: #ffff3a;
}
#yellow-lt-4 {
  background-color: #ffff4f;
}
#yellow-lt-5 {
  background-color: #ffff63;
}
#yellow-lt-6 {
  background-color: #ffff77;
}
#yellow-lt-7 {
  background-color: #ffff8c;
}
#yellow-lt-8 {
  background-color: #ffffa0;
}
#yellow-lt-9 {
  background-color: #ffffb5;
}
#yellow-lt-10 {
  background-color: #ffffc9;
}
#yellow-dk-1 {
  background-color: #e8e800;
}
#yellow-dk-2 {
  background-color: #d3d300;
}
#yellow-dk-3 {
  background-color: #bfbf00;
}
#yellow-dk-4 {
  background-color: #aaaa00;
}
#yellow-dk-5 {
  background-color: #969600;
}
#yellow-dk-6 {
  background-color: #828200;
}
#yellow-dk-7 {
  background-color: #6d6d00;
}
#yellow-dk-8 {
  background-color: #595900;
}
#yellow-dk-9 {
  background-color: #444400;
}
#yellow-dk-10 {
  background-color: #303000;
}
/******************************************************
********************* purple COLOR ***********************
*******************************************************/
#purple {
  background-color: #FC00FC;
}
/********************** Dark *************************/
#purple-lt-1 {
  background-color: #ff11ff;
}
#purple-lt-2 {
  background-color: #ff26ff;
}
#purple-lt-3 {
  background-color: #ff3aff;
}
#purple-lt-4 {
  background-color: #ff4fff;
}
#purple-lt-5 {
  background-color: #ff63ff;
}
#purple-lt-6 {
  background-color: #ff77ff;
}
#purple-lt-7 {
  background-color: #ff8cff;
}
#purple-lt-8 {
  background-color: #ffa0ff;
}
#purple-lt-9 {
  background-color: #ffb5ff;
}
#purple-lt-10 {
  background-color: #ffc9ff;
}
#purple-dk-1 {
  background-color: #e800e8;
}
#purple-dk-2 {
  background-color: #d300d3;
}
#purple-dk-3 {
  background-color: #bf00bf;
}
#purple-dk-4 {
  background-color: #aa00aa;
}
#purple-dk-5 {
  background-color: #960096;
}
#purple-dk-6 {
  background-color: #820082;
}
#purple-dk-7 {
  background-color: #6d006d;
}
#purple-dk-8 {
  background-color: #590059;
}
#purple-dk-9 {
  background-color: #440044;
}
#purple-dk-10 {
  background-color: #300030;
}
/******************************************************
********************* orange COLOR ***********************
*******************************************************/
#orange {
  background-color: #FFA500;
}
/********************** Dark *************************/
#orange-lt-1 {
  background-color: #ffac14;
}
#orange-lt-2 {
  background-color: #ffb329;
}
#orange-lt-3 {
  background-color: #ffbb3d;
}
#orange-lt-4 {
  background-color: #ffc252;
}
#orange-lt-5 {
  background-color: #ffc966;
}
#orange-lt-6 {
  background-color: #ffd07a;
}
#orange-lt-7 {
  background-color: #ffd78f;
}
#orange-lt-8 {
  background-color: #ffdfa3;
}
#orange-lt-9 {
  background-color: #ffe6b8;
}
#orange-lt-10 {
  background-color: #ffedcc;
}
#orange-dk-1 {
  background-color: #eb9800;
}
#orange-dk-2 {
  background-color: #d68b00;
}
#orange-dk-3 {
  background-color: #c27d00;
}
#orange-dk-4 {
  background-color: #ad7000;
}
#orange-dk-5 {
  background-color: #996300;
}
#orange-dk-6 {
  background-color: #855600;
}
#orange-dk-7 {
  background-color: #704900;
}
#orange-dk-8 {
  background-color: #5c3b00;
}
#orange-dk-9 {
  background-color: #472e00;
}
#orange-dk-10 {
  background-color: #332100;
}
/******************************************************
********************* cyan COLOR ***********************
*******************************************************/
#cyan {
  background-color: #00BDFC;
}
/********************** Dark *************************/
#cyan-lt-1 {
  background-color: #11c4ff;
}
#cyan-lt-2 {
  background-color: #26c9ff;
}
#cyan-lt-3 {
  background-color: #3aceff;
}
#cyan-lt-4 {
  background-color: #4fd3ff;
}
#cyan-lt-5 {
  background-color: #63d8ff;
}
#cyan-lt-6 {
  background-color: #77ddff;
}
#cyan-lt-7 {
  background-color: #8ce2ff;
}
#cyan-lt-8 {
  background-color: #a0e7ff;
}
#cyan-lt-9 {
  background-color: #b5ecff;
}
#cyan-lt-10 {
  background-color: #c9f2ff;
}
#cyan-dk-1 {
  background-color: #00aee8;
}
#cyan-dk-2 {
  background-color: #009ed3;
}
#cyan-dk-3 {
  background-color: #008fbf;
}
#cyan-dk-4 {
  background-color: #0080aa;
}
#cyan-dk-5 {
  background-color: #007196;
}
#cyan-dk-6 {
  background-color: #006182;
}
#cyan-dk-7 {
  background-color: #00526d;
}
#cyan-dk-8 {
  background-color: #004359;
}
#cyan-dk-9 {
  background-color: #003344;
}
#cyan-dk-10 {
  background-color: #002430;
}
/******************************************************
********************* lightgreen COLOR ***********************
*******************************************************/
#lightgreen {
  background-color: #A0FC00;
}
/********************** Dark *************************/
#lightgreen-lt-1 {
  background-color: #a8ff11;
}
#lightgreen-lt-2 {
  background-color: #b0ff26;
}
#lightgreen-lt-3 {
  background-color: #b7ff3a;
}
#lightgreen-lt-4 {
  background-color: #bfff4f;
}
#lightgreen-lt-5 {
  background-color: #c6ff63;
}
#lightgreen-lt-6 {
  background-color: #cdff77;
}
#lightgreen-lt-7 {
  background-color: #d5ff8c;
}
#lightgreen-lt-8 {
  background-color: #dcffa0;
}
#lightgreen-lt-9 {
  background-color: #e4ffb5;
}
#lightgreen-lt-10 {
  background-color: #ebffc9;
}
#lightgreen-dk-1 {
  background-color: #93e800;
}
#lightgreen-dk-2 {
  background-color: #86d300;
}
#lightgreen-dk-3 {
  background-color: #79bf00;
}
#lightgreen-dk-4 {
  background-color: #6caa00;
}
#lightgreen-dk-5 {
  background-color: #5f9600;
}
#lightgreen-dk-6 {
  background-color: #528200;
}
#lightgreen-dk-7 {
  background-color: #456d00;
}
#lightgreen-dk-8 {
  background-color: #385900;
}
#lightgreen-dk-9 {
  background-color: #2b4400;
}
#lightgreen-dk-10 {
  background-color: #1e3000;
}
/******************************************************
********************* grassgreen COLOR ***********************
*******************************************************/
#grassgreen {
  background-color: #1EA312;
}
/********************** Dark *************************/
#grassgreen-lt-1 {
  background-color: #21b514;
}
#grassgreen-lt-2 {
  background-color: #25c816;
}
#grassgreen-lt-3 {
  background-color: #28da18;
}
#grassgreen-lt-4 {
  background-color: #31e620;
}
#grassgreen-lt-5 {
  background-color: #42e833;
}
#grassgreen-lt-6 {
  background-color: #53ea45;
}
#grassgreen-lt-7 {
  background-color: #64ec57;
}
#grassgreen-lt-8 {
  background-color: #75ef6a;
}
#grassgreen-lt-9 {
  background-color: #86f17c;
}
#grassgreen-lt-10 {
  background-color: #97f38e;
}
#grassgreen-dk-1 {
  background-color: #1b9110;
}
#grassgreen-dk-2 {
  background-color: #177e0e;
}
#grassgreen-dk-3 {
  background-color: #146c0c;
}
#grassgreen-dk-4 {
  background-color: #105a0a;
}
#grassgreen-dk-5 {
  background-color: #0d4708;
}
#grassgreen-dk-6 {
  background-color: #0a3506;
}
#grassgreen-dk-7 {
  background-color: #062204;
}
#grassgreen-dk-8 {
  background-color: #031002;
}
#grassgreen-dk-9 {
  background-color: #000000;
}
#grassgreen-dk-10 {
  background-color: #000000;
}
