@import "../less/color.less";


section{
    margin-top: 50px;
    margin: 100px 110px 50px 110px;
}

button{
    height: 40px;
    width: 40px;
    margin: 50px 10px 50px 0px;
}

/******************************************************
********************* green COLOR ***********************
*******************************************************/
#red{
    background-color: red;    
}

/********************** light *************************/
<<<<<<< HEAD
#red-lt-1{
    background-color: @red-lt-1;
}
#red-lt-2{
    background-color: @red-lt-2;
}
#red-lt-3{
    background-color: @red-lt-3;
}
#red-lt-4{
    background-color: @red-lt-4;
}
#red-lt-5{
    background-color: @red-lt-5;
}
#red-lt-6{
    background-color: @red-lt-6;
}
#red-lt-7{
    background-color: @red-lt-7;
}
#red-lt-8{
    background-color: @red-lt-8;
}
#red-lt-9{
    background-color: @red-lt-9;
}
#red-lt-10{
    background-color: @red-lt-10;
}

/********************** Dark *************************/
#red-dk-1{
    background-color: @red-dk-1;
}
#red-dk-2{
    background-color: @red-dk-2;
}
#red-dk-3{
    background-color: @red-dk-3;
}
#red-dk-4{
    background-color: @red-dk-4;
}
#red-dk-5{
    background-color: @red-dk-5;
}
#red-dk-6{
    background-color: @red-dk-6;
}
#red-dk-7{
    background-color: @red-dk-7;
}
#red-dk-8{
    background-color: @red-dk-8;
}
#red-dk-9{
    background-color: @red-dk-9;
}
#red-dk-10{
    background-color: @red-dk-10;
=======
#red-light-1{
    background-color: @red-light-1;
}
#red-light-2{
    background-color: @red-light-2;
}
#red-light-3{
    background-color: @red-light-3;
}
#red-light-4{
    background-color: @red-light-4;
}
#red-light-5{
    background-color: @red-light-5;
}
#red-light-6{
    background-color: @red-light-6;
}
#red-light-7{
    background-color: @red-light-7;
}
#red-light-8{
    background-color: @red-light-8;
}
#red-light-9{
    background-color: @red-light-9;
}
#red-light-10{
    background-color: @red-light-10;
}

/********************** Dark *************************/
#red-dark-1{
    background-color: @red-dark-1;
}
#red-dark-2{
    background-color: @red-dark-2;
}
#red-dark-3{
    background-color: @red-dark-3;
}
#red-dark-4{
    background-color: @red-dark-4;
}
#red-dark-5{
    background-color: @red-dark-5;
}
#red-dark-6{
    background-color: @red-dark-6;
}
#red-dark-7{
    background-color: @red-dark-7;
}
#red-dark-8{
    background-color: @red-dark-8;
}
#red-dark-9{
    background-color: @red-dark-9;
}
#red-dark-10{
    background-color: @red-dark-10;
>>>>>>> 454e80b5e86350e50c59c0fcfe34f27824f614e1
}

/******************************************************
********************* GREEN COLOR ***********************
*******************************************************/

#green{
    background-color: @green;    
}

/********************** Dark *************************/
<<<<<<< HEAD
#green-lt-1{
    background-color: @green-lt-1;
}
#green-lt-2{
    background-color: @green-lt-2;
}
#green-lt-3{
    background-color: @green-lt-3;
}
#green-lt-4{
    background-color: @green-lt-4;
}
#green-lt-5{
    background-color: @green-lt-5;
}
#green-lt-6{
    background-color: @green-lt-6;
}
#green-lt-7{
    background-color: @green-lt-7;
}
#green-lt-8{
    background-color: @green-lt-8;
}
#green-lt-9{
    background-color: @green-lt-9;
}
#green-lt-10{
    background-color: @green-lt-10;
}


#green-dk-1{
    background-color: @green-dk-1;
}
#green-dk-2{
    background-color: @green-dk-2;
}
#green-dk-3{
    background-color: @green-dk-3;
}
#green-dk-4{
    background-color: @green-dk-4;
}
#green-dk-5{
    background-color: @green-dk-5;
}
#green-dk-6{
    background-color: @green-dk-6;
}
#green-dk-7{
    background-color: @green-dk-7;
}
#green-dk-8{
    background-color: @green-dk-8;
}
#green-dk-9{
    background-color: @green-dk-9;
}
#green-dk-10{
    background-color: @green-dk-10;
=======
#green-light-1{
    background-color: @green-light-1;
}
#green-light-2{
    background-color: @green-light-2;
}
#green-light-3{
    background-color: @green-light-3;
}
#green-light-4{
    background-color: @green-light-4;
}
#green-light-5{
    background-color: @green-light-5;
}
#green-light-6{
    background-color: @green-light-6;
}
#green-light-7{
    background-color: @green-light-7;
}
#green-light-8{
    background-color: @green-light-8;
}
#green-light-9{
    background-color: @green-light-9;
}
#green-light-10{
    background-color: @green-light-10;
}


#green-dark-1{
    background-color: @green-dark-1;
}
#green-dark-2{
    background-color: @green-dark-2;
}
#green-dark-3{
    background-color: @green-dark-3;
}
#green-dark-4{
    background-color: @green-dark-4;
}
#green-dark-5{
    background-color: @green-dark-5;
}
#green-dark-6{
    background-color: @green-dark-6;
}
#green-dark-7{
    background-color: @green-dark-7;
}
#green-dark-8{
    background-color: @green-dark-8;
}
#green-dark-9{
    background-color: @green-dark-9;
}
#green-dark-10{
    background-color: @green-dark-10;
>>>>>>> 454e80b5e86350e50c59c0fcfe34f27824f614e1
}

/******************************************************
********************* blue COLOR ***********************
*******************************************************/

#blue{
    background-color: @blue;    
}

/********************** Dark *************************/
<<<<<<< HEAD
#blue-lt-1{
    background-color: @blue-lt-1;
}
#blue-lt-2{
    background-color: @blue-lt-2;
}
#blue-lt-3{
    background-color: @blue-lt-3;
}
#blue-lt-4{
    background-color: @blue-lt-4;
}
#blue-lt-5{
    background-color: @blue-lt-5;
}
#blue-lt-6{
    background-color: @blue-lt-6;
}
#blue-lt-7{
    background-color: @blue-lt-7;
}
#blue-lt-8{
    background-color: @blue-lt-8;
}
#blue-lt-9{
    background-color: @blue-lt-9;
}
#blue-lt-10{
    background-color: @blue-lt-10;
}

/* blue darken*/
#blue-dk-1{
    background-color: @blue-dk-1;
}
#blue-dk-2{
    background-color: @blue-dk-2;
}
#blue-dk-3{
    background-color: @blue-dk-3;
}
#blue-dk-4{
    background-color: @blue-dk-4;
}
#blue-dk-5{
    background-color: @blue-dk-5;
}
#blue-dk-6{
    background-color: @blue-dk-6;
}
#blue-dk-7{
    background-color: @blue-dk-7;
}
#blue-dk-8{
    background-color: @blue-dk-8;
}
#blue-dk-9{
    background-color: @blue-dk-9;
}
#blue-dk-10{
    background-color: @blue-dk-10;
=======
#blue-light-1{
    background-color: @blue-light-1;
}
#blue-light-2{
    background-color: @blue-light-2;
}
#blue-light-3{
    background-color: @blue-light-3;
}
#blue-light-4{
    background-color: @blue-light-4;
}
#blue-light-5{
    background-color: @blue-light-5;
}
#blue-light-6{
    background-color: @blue-light-6;
}
#blue-light-7{
    background-color: @blue-light-7;
}
#blue-light-8{
    background-color: @blue-light-8;
}
#blue-light-9{
    background-color: @blue-light-9;
}
#blue-light-10{
    background-color: @blue-light-10;
}


#blue-dark-1{
    background-color: @blue-dark-1;
}
#blue-dark-2{
    background-color: @blue-dark-2;
}
#blue-dark-3{
    background-color: @blue-dark-3;
}
#blue-dark-4{
    background-color: @blue-dark-4;
}
#blue-dark-5{
    background-color: @blue-dark-5;
}
#blue-dark-6{
    background-color: @blue-dark-6;
}
#blue-dark-7{
    background-color: @blue-dark-7;
}
#blue-dark-8{
    background-color: @blue-dark-8;
}
#blue-dark-9{
    background-color: @blue-dark-9;
}
#blue-dark-10{
    background-color: @blue-dark-10;
>>>>>>> 454e80b5e86350e50c59c0fcfe34f27824f614e1
}

/******************************************************
********************* yellow COLOR ***********************
*******************************************************/

#yellow{
    background-color: @yellow;   
}

/********************** Dark *************************/
<<<<<<< HEAD
#yellow-lt-1{
    background-color: @yellow-lt-1;
}
#yellow-lt-2{
    background-color: @yellow-lt-2;
}
#yellow-lt-3{
    background-color: @yellow-lt-3;
}
#yellow-lt-4{
    background-color: @yellow-lt-4;
}
#yellow-lt-5{
    background-color: @yellow-lt-5;
}
#yellow-lt-6{
    background-color: @yellow-lt-6;
}
#yellow-lt-7{
    background-color: @yellow-lt-7;
}
#yellow-lt-8{
    background-color: @yellow-lt-8;
}
#yellow-lt-9{
    background-color: @yellow-lt-9;
}
#yellow-lt-10{
    background-color: @yellow-lt-10;
}


#yellow-dk-1{
    background-color: @yellow-dk-1;
}
#yellow-dk-2{
    background-color: @yellow-dk-2;
}
#yellow-dk-3{
    background-color: @yellow-dk-3;
}
#yellow-dk-4{
    background-color: @yellow-dk-4;
}
#yellow-dk-5{
    background-color: @yellow-dk-5;
}
#yellow-dk-6{
    background-color: @yellow-dk-6;
}
#yellow-dk-7{
    background-color: @yellow-dk-7;
}
#yellow-dk-8{
    background-color: @yellow-dk-8;
}
#yellow-dk-9{
    background-color: @yellow-dk-9;
}
#yellow-dk-10{
    background-color: @yellow-dk-10;
=======
#yellow-light-1{
    background-color: @yellow-light-1;
}
#yellow-light-2{
    background-color: @yellow-light-2;
}
#yellow-light-3{
    background-color: @yellow-light-3;
}
#yellow-light-4{
    background-color: @yellow-light-4;
}
#yellow-light-5{
    background-color: @yellow-light-5;
}
#yellow-light-6{
    background-color: @yellow-light-6;
}
#yellow-light-7{
    background-color: @yellow-light-7;
}
#yellow-light-8{
    background-color: @yellow-light-8;
}
#yellow-light-9{
    background-color: @yellow-light-9;
}
#yellow-light-10{
    background-color: @yellow-light-10;
}


#yellow-dark-1{
    background-color: @yellow-dark-1;
}
#yellow-dark-2{
    background-color: @yellow-dark-2;
}
#yellow-dark-3{
    background-color: @yellow-dark-3;
}
#yellow-dark-4{
    background-color: @yellow-dark-4;
}
#yellow-dark-5{
    background-color: @yellow-dark-5;
}
#yellow-dark-6{
    background-color: @yellow-dark-6;
}
#yellow-dark-7{
    background-color: @yellow-dark-7;
}
#yellow-dark-8{
    background-color: @yellow-dark-8;
}
#yellow-dark-9{
    background-color: @yellow-dark-9;
}
#yellow-dark-10{
    background-color: @yellow-dark-10;
>>>>>>> 454e80b5e86350e50c59c0fcfe34f27824f614e1
}

/******************************************************
********************* purple COLOR ***********************
*******************************************************/

#purple{
    background-color: @purple;   
}

/********************** Dark *************************/
<<<<<<< HEAD
#purple-lt-1{
    background-color: @purple-lt-1;
}
#purple-lt-2{
    background-color: @purple-lt-2;
}
#purple-lt-3{
    background-color: @purple-lt-3;
}
#purple-lt-4{
    background-color: @purple-lt-4;
}
#purple-lt-5{
    background-color: @purple-lt-5;
}
#purple-lt-6{
    background-color: @purple-lt-6;
}
#purple-lt-7{
    background-color: @purple-lt-7;
}
#purple-lt-8{
    background-color: @purple-lt-8;
}
#purple-lt-9{
    background-color: @purple-lt-9;
}
#purple-lt-10{
    background-color: @purple-lt-10;
}


#purple-dk-1{
    background-color: @purple-dk-1; 
}
#purple-dk-2{
    background-color: @purple-dk-2;
}
#purple-dk-3{
    background-color: @purple-dk-3;
}
#purple-dk-4{
    background-color: @purple-dk-4;
}
#purple-dk-5{
    background-color: @purple-dk-5;
}
#purple-dk-6{
    background-color: @purple-dk-6;
}
#purple-dk-7{
    background-color: @purple-dk-7;
}
#purple-dk-8{
    background-color: @purple-dk-8;
}
#purple-dk-9{
    background-color: @purple-dk-9;
}
#purple-dk-10{
    background-color: @purple-dk-10;
}

/******************************************************
********************* orange COLOR ***********************
*******************************************************/

#orange{
    background-color: @orange;   
}

/********************** Dark *************************/
#orange-lt-1{
    background-color: @orange-lt-1;
}
#orange-lt-2{
    background-color: @orange-lt-2;
}
#orange-lt-3{
    background-color: @orange-lt-3;
}
#orange-lt-4{
    background-color: @orange-lt-4;
}
#orange-lt-5{
    background-color: @orange-lt-5;
}
#orange-lt-6{
    background-color: @orange-lt-6;
}
#orange-lt-7{
    background-color: @orange-lt-7;
}
#orange-lt-8{
    background-color: @orange-lt-8;
}
#orange-lt-9{
    background-color: @orange-lt-9;
}
#orange-lt-10{
    background-color: @orange-lt-10;
}


#orange-dk-1{
    background-color: @orange-dk-1;
}
#orange-dk-2{
    background-color: @orange-dk-2;
}
#orange-dk-3{
    background-color: @orange-dk-3;
}
#orange-dk-4{
    background-color: @orange-dk-4;
}
#orange-dk-5{
    background-color: @orange-dk-5;
}
#orange-dk-6{
    background-color: @orange-dk-6;
}
#orange-dk-7{
    background-color: @orange-dk-7;
}
#orange-dk-8{
    background-color: @orange-dk-8;
}
#orange-dk-9{
    background-color: @orange-dk-9;
}
#orange-dk-10{
    background-color: @orange-dk-10;
}

/******************************************************
********************* cyan COLOR ***********************
*******************************************************/

#cyan{
    background-color: @cyan;    
}

/********************** Dark *************************/
#cyan-lt-1{
    background-color: @cyan-lt-1;
}
#cyan-lt-2{
    background-color: @cyan-lt-2;
}
#cyan-lt-3{
    background-color: @cyan-lt-3;
}
#cyan-lt-4{
    background-color: @cyan-lt-4;
}
#cyan-lt-5{
    background-color: @cyan-lt-5;
}
#cyan-lt-6{
    background-color: @cyan-lt-6;
}
#cyan-lt-7{
    background-color: @cyan-lt-7;
}
#cyan-lt-8{
    background-color: @cyan-lt-8;
}
#cyan-lt-9{
    background-color: @cyan-lt-9;
}
#cyan-lt-10{
    background-color: @cyan-lt-10;
}


#cyan-dk-1{
    background-color: @cyan-dk-1;
}
#cyan-dk-2{
    background-color: @cyan-dk-2;
}
#cyan-dk-3{
    background-color: @cyan-dk-3;
}
#cyan-dk-4{
    background-color: @cyan-dk-4;
}
#cyan-dk-5{
    background-color: @cyan-dk-5;
}
#cyan-dk-6{
    background-color: @cyan-dk-6;
}
#cyan-dk-7{
    background-color: @cyan-dk-7;
}
#cyan-dk-8{
    background-color: @cyan-dk-8;
}
#cyan-dk-9{
    background-color: @cyan-dk-9;
}
#cyan-dk-10{
    background-color: @cyan-dk-10;
}

/******************************************************
********************* lightgreen COLOR ***********************
*******************************************************/

#lightgreen{
    background-color: @lightgreen;    
}

/********************** Dark *************************/
#lightgreen-lt-1{
    background-color: @lightgreen-lt-1;
}
#lightgreen-lt-2{
    background-color: @lightgreen-lt-2;
}
#lightgreen-lt-3{
    background-color: @lightgreen-lt-3;
}
#lightgreen-lt-4{
    background-color: @lightgreen-lt-4;
}
#lightgreen-lt-5{
    background-color: @lightgreen-lt-5;
}
#lightgreen-lt-6{
    background-color: @lightgreen-lt-6;
}
#lightgreen-lt-7{
    background-color: @lightgreen-lt-7;
}
#lightgreen-lt-8{
    background-color: @lightgreen-lt-8;
}
#lightgreen-lt-9{
    background-color: @lightgreen-lt-9;
}
#lightgreen-lt-10{
    background-color: @lightgreen-lt-10;
}


#lightgreen-dk-1{
    background-color: @lightgreen-dk-1;
}
#lightgreen-dk-2{
    background-color: @lightgreen-dk-2;
}
#lightgreen-dk-3{
    background-color: @lightgreen-dk-3;
}
#lightgreen-dk-4{
    background-color: @lightgreen-dk-4;
}
#lightgreen-dk-5{
    background-color: @lightgreen-dk-5;
}
#lightgreen-dk-6{
    background-color: @lightgreen-dk-6;
}
#lightgreen-dk-7{
    background-color: @lightgreen-dk-7;
}
#lightgreen-dk-8{
    background-color: @lightgreen-dk-8;
}
#lightgreen-dk-9{
    background-color: @lightgreen-dk-9;
}
#lightgreen-dk-10{
    background-color: @lightgreen-dk-10;
}

/******************************************************
********************* grassgreen COLOR ***********************
*******************************************************/

#grassgreen{
    background-color: @grassgreen;   
}

/********************** Dark *************************/
#grassgreen-lt-1{
    background-color: @grassgreen-lt-1;
}
#grassgreen-lt-2{
    background-color: @grassgreen-lt-2;
}
#grassgreen-lt-3{
    background-color: @grassgreen-lt-3;
}
#grassgreen-lt-4{
    background-color: @grassgreen-lt-4;
}
#grassgreen-lt-5{
    background-color: @grassgreen-lt-5;
}
#grassgreen-lt-6{
    background-color: @grassgreen-lt-6;
}
#grassgreen-lt-7{
    background-color: @grassgreen-lt-7;
}
#grassgreen-lt-8{
    background-color: @grassgreen-lt-8;
}
#grassgreen-lt-9{
    background-color: @grassgreen-lt-9;
}
#grassgreen-lt-10{
    background-color: @grassgreen-lt-10;
}


#grassgreen-dk-1{
    background-color: @grassgreen-dk-1;
}
#grassgreen-dk-2{
    background-color: @grassgreen-dk-2;
}
#grassgreen-dk-3{
    background-color: @grassgreen-dk-3;
}
#grassgreen-dk-4{
    background-color: @grassgreen-dk-4;
}
#grassgreen-dk-5{
    background-color: @grassgreen-dk-5;
}
#grassgreen-dk-6{
    background-color: @grassgreen-dk-6;
}
#grassgreen-dk-7{
    background-color: @grassgreen-dk-7;
}
#grassgreen-dk-8{
    background-color: @grassgreen-dk-8;
}
#grassgreen-dk-9{
    background-color: @grassgreen-dk-9;
}
#grassgreen-dk-10{
    background-color: @grassgreen-dk-10;
=======
#purple-light-1{
    background-color: @purple-light-1;
}
#purple-light-2{
    background-color: @purple-light-2;
}
#purple-light-3{
    background-color: @purple-light-3;
}
#purple-light-4{
    background-color: @purple-light-4;
}
#purple-light-5{
    background-color: @purple-light-5;
}
#purple-light-6{
    background-color: @purple-light-6;
}
#purple-light-7{
    background-color: @purple-light-7;
}
#purple-light-8{
    background-color: @purple-light-8;
}
#purple-light-9{
    background-color: @purple-light-9;
}
#purple-light-10{
    background-color: @purple-light-10;
}


#purple-dark-1{
    background-color: @purple-dark-1;
}
#purple-dark-2{
    background-color: @purple-dark-2;
}
#purple-dark-3{
    background-color: @purple-dark-3;
}
#purple-dark-4{
    background-color: @purple-dark-4;
}
#purple-dark-5{
    background-color: @purple-dark-5;
}
#purple-dark-6{
    background-color: @purple-dark-6;
}
#purple-dark-7{
    background-color: @purple-dark-7;
}
#purple-dark-8{
    background-color: @purple-dark-8;
}
#purple-dark-9{
    background-color: @purple-dark-9;
}
#purple-dark-10{
    background-color: @purple-dark-10;
>>>>>>> 454e80b5e86350e50c59c0fcfe34f27824f614e1
}