/* red color */

@red: #FF0000;

/* red lighten */

@red-light-1: lighten(@red, 4%);
@red-light-2: lighten(@red, 8%);
@red-light-3: lighten(@red, 12%);
@red-light-4: lighten(@red, 16%);
@red-light-5: lighten(@red, 20%);
@red-light-6: lighten(@red, 24%);
@red-light-7: lighten(@red, 28%);
@red-light-8: lighten(@red, 32%);
@red-light-9: lighten(@red, 36%);
@red-light-10: lighten(@red, 40%);

/* red darken */

@red-dark-1: darken(@red, 4%);
@red-dark-2: darken(@red, 8%);
@red-dark-3: darken(@red, 12%);
@red-dark-4: darken(@red, 16%);
@red-dark-5: darken(@red, 20%);
@red-dark-6: darken(@red, 24%);
@red-dark-7: darken(@red, 28%);
@red-dark-8: darken(@red, 32%);
@red-dark-9: darken(@red, 36%);
@red-dark-10: darken(@red, 40%);

/* green color */

@green: #00FF00;

/* green lighten */

@green-light-1: lighten(@green, 4%);
@green-light-2: lighten(@green, 8%);
@green-light-3: lighten(@green, 12%);
@green-light-4: lighten(@green, 16%);
@green-light-5: lighten(@green, 20%);
@green-light-6: lighten(@green, 24%);
@green-light-7: lighten(@green, 28%);
@green-light-8: lighten(@green, 32%);
@green-light-9: lighten(@green, 36%);
@green-light-10: lighten(@green, 40%);

/* green darken */

@green-dark-1: darken(@green, 4%);
@green-dark-2: darken(@green, 8%);
@green-dark-3: darken(@green, 12%);
@green-dark-4: darken(@green, 16%);
@green-dark-5: darken(@green, 20%);
@green-dark-6: darken(@green, 24%);
@green-dark-7: darken(@green, 28%);
@green-dark-8: darken(@green, 32%);
@green-dark-9: darken(@green, 36%);
@green-dark-10: darken(@green, 40%);


/* blue color */

@blue: #0000FF;

/* blue lighten */

@blue-light-1: lighten(@blue, 4%);
@blue-light-2: lighten(@blue, 8%);
@blue-light-3: lighten(@blue, 12%);
@blue-light-4: lighten(@blue, 16%);
@blue-light-5: lighten(@blue, 20%);
@blue-light-6: lighten(@blue, 24%);
@blue-light-7: lighten(@blue, 28%);
@blue-light-8: lighten(@blue, 32%);
@blue-light-9: lighten(@blue, 36%);
@blue-light-10: lighten(@blue, 40%);

/* blue darken */

@blue-dark-1: darken(@blue, 4%);
@blue-dark-2: darken(@blue, 8%);
@blue-dark-3: darken(@blue, 12%);
@blue-dark-4: darken(@blue, 16%);
@blue-dark-5: darken(@blue, 20%);
@blue-dark-6: darken(@blue, 24%);
@blue-dark-7: darken(@blue, 28%);
@blue-dark-8: darken(@blue, 32%);
@blue-dark-9: darken(@blue, 36%);
@blue-dark-10: darken(@blue, 40%);

/* yellow color */

@yellow: #FCFC00;

/* yellow lighten */

@yellow-light-1: lighten(@yellow, 4%);
@yellow-light-2: lighten(@yellow, 8%);
@yellow-light-3: lighten(@yellow, 12%);
@yellow-light-4: lighten(@yellow, 16%);
@yellow-light-5: lighten(@yellow, 20%);
@yellow-light-6: lighten(@yellow, 24%);
@yellow-light-7: lighten(@yellow, 28%);
@yellow-light-8: lighten(@yellow, 32%);
@yellow-light-9: lighten(@yellow, 36%);
@yellow-light-10: lighten(@yellow, 40%);

/* yellow darken */

@yellow-dark-1: darken(@yellow, 4%);
@yellow-dark-2: darken(@yellow, 8%);
@yellow-dark-3: darken(@yellow, 12%);
@yellow-dark-4: darken(@yellow, 16%);
@yellow-dark-5: darken(@yellow, 20%);
@yellow-dark-6: darken(@yellow, 24%);
@yellow-dark-7: darken(@yellow, 28%);
@yellow-dark-8: darken(@yellow, 32%);
@yellow-dark-9: darken(@yellow, 36%);
@yellow-dark-10: darken(@yellow, 40%);


/* purple color */

@purple: #FC00FC;

/* purple lighten */

@purple-light-1: lighten(@purple, 4%);
@purple-light-2: lighten(@purple, 8%);
@purple-light-3: lighten(@purple, 12%);
@purple-light-4: lighten(@purple, 16%);
@purple-light-5: lighten(@purple, 20%);
@purple-light-6: lighten(@purple, 24%);
@purple-light-7: lighten(@purple, 28%);
@purple-light-8: lighten(@purple, 32%);
@purple-light-9: lighten(@purple, 36%);
@purple-light-10: lighten(@purple, 40%);

/* purple darken */

@purple-dark-1: darken(@purple, 4%);
@purple-dark-2: darken(@purple, 8%);
@purple-dark-3: darken(@purple, 12%);
@purple-dark-4: darken(@purple, 16%);
@purple-dark-5: darken(@purple, 20%);
@purple-dark-6: darken(@purple, 24%);
@purple-dark-7: darken(@purple, 28%);
@purple-dark-8: darken(@purple, 32%);
@purple-dark-9: darken(@purple, 36%);
@purple-dark-10: darken(@purple, 40%);