/* red color */

@red: #FF0000;

/* red lighten */

@red-light-1: lighten(@red, 4%);
@red-light-2: lighten(@red, 8%);
@red-light-3: lighten(@red, 12%);
@red-light-4: lighten(@red, 16%);
@red-light-5: lighten(@red, 20%);
@red-light-6: lighten(@red, 24%);
@red-light-7: lighten(@red, 28%);
@red-light-8: lighten(@red, 32%);
@red-light-9: lighten(@red, 36%);
@red-light-10: lighten(@red, 40%);

/* red darken */

@red-dark-1: darken(@red, 4%);
@red-dark-2: darken(@red, 8%);
@red-dark-3: darken(@red, 12%);
@red-dark-4: darken(@red, 16%);
@red-dark-5: darken(@red, 20%);
@red-dark-6: darken(@red, 24%);
@red-dark-7: darken(@red, 28%);
@red-dark-8: darken(@red, 32%);
@red-dark-9: darken(@red, 36%);
@red-dark-10: darken(@red, 40%);


/* green color */

@green: #00FF00;

/* green lighten */

@green-light-1: ligthen(@green, 4%);
@green-light-2: ligthen(@green, 8%);
@green-light-3: ligthen(@green, 12%);
@green-light-4: ligthen(@green, 16%);
@green-light-5: ligthen(@green, 20%);
@green-light-6: ligthen(@green, 24%);
@green-light-7: ligthen(@green, 28%);
@green-light-8: ligthen(@green, 32%);
@green-light-9: ligthen(@green, 36%);
@green-light-10: ligthen(@green, 40%);

/* green darken */

@green-dark-1: darken(@green, 4%);
@green-dark-2: darken(@green, 8%);
@green-dark-3: darken(@green, 12%);
@green-dark-4: darken(@green, 16%);
@green-dark-5: darken(@green, 20%);
@green-dark-6: darken(@green, 24%);
@green-dark-7: darken(@green, 28%);
@green-dark-8: darken(@green, 32%);
@green-dark-9: darken(@green, 36%);
@green-dark-10: darken(@green, 40%);
